html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #434f53;
    background-color: #fff;
    margin: 0;
}
b, strong {
    font-weight: 700;
}
i {
    font-family: fontawesome !important;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
img {
    border: 0;
    vertical-align: middle;
}
hr {
    box-sizing: content-box;
    height: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
a {
    background-color: transparent;
    color: #989da2;
}
a:active, a:hover {
    outline: 0;
}
a:focus, a:hover {
    color: #989da2;
    text-decoration: underline
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header, footer {
    width: 100%;
}
footer p {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 0 50px;
}

header h1 {
    text-align: center;
    padding: 0 50px;
}
.color1 {
    background-color: #606c84;
}
.color2 {
    background-color: #f3f3f3;
}

.news-block {
    padding: 30px;
}
.news-image img {
    width: 50%;
}
.card-body p {
    font-size: 1.8em;
    color: #606c84;
}
.title-news a {
    color: #337ab7;
}
.title-news a:hover {
    color: #606c84;
    text-decoration: none;
}

.news-date {
    font-size: 1.2em !important;
}
.paginate {
    margin-top: 20px;
}

.border-post {
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-post {
    margin: 10px auto;
   // max-width: 100%;
    width: 30%;
}
 .page-news h2 {
     color: #337ab7;
     font-size: 3rem;
     text-align: center;
     margin: 20px 0;
}
.page-news p {
    margin: 0 30px;
    padding: 10%  20px;
    font-size: 1.2em;
}
.page-news h3 {
    color: #000;

}


body {
    font-size: 14px;
    line-height: 1.42857143;
    color: #434f53;
    background-color: #fff;
    margin: 0;
}
b, strong {
    font-weight: 700;
}
h1 {
    font-size: 2em;
    margin: .67em 0;
}
img {
    border: 0;
    vertical-align: middle;
}
hr {
    box-sizing: content-box;
    height: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
a {
    background-color: transparent;
    color: #989da2;
}
a:active, a:hover {
    outline: 0;
}
a:focus, a:hover {
    color: #989da2;
    text-decoration: underline
}
.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header, footer {
    width: 100%;
}
footer p {
    font-size: 24px;
    text-align: center;
    color: #fff;
    padding: 0 50px;
}

header h1 {
    text-align: center;
    padding: 0 50px;
}
.color1 {
    background-color: #606c84;
}
.color2 {
    background-color: #f3f3f3;
}

.news-block {
    padding: 30px;
}

.card-body p {
    font-size: 1.8em;
    color: #606c84;
}
.title-news a {
    color: #337ab7;
}
.title-news a:hover {
    color: #606c84;
    text-decoration: none;
}

.news-date {
    font-size: 1.2em !important;
}
.paginate {
    margin-top: 20px;
}

.border-post {
    margin-bottom: 10px;
    margin-top: 10px;
}

.img-post {
    margin: 10px auto;
    max-width: 300px;
}
.page-news h2 {
    color: #337ab7;
    font-size: 3rem;
    text-align: center;
    margin: 20px 20px;
}
.page-news p {
    margin: 0 30px;
    padding: 20px 5%;
    font-size: 1.2em;
    text-align: justify;
}
.page-news h4 {
    color: #000;
    padding: 20px;
}
.post .form-control {
    width: 40% !important;
}

.post img {
    width: 90%;
   // padding: 60px 10%;

}
.post h2 {
    font-size: 36px;
    padding-top: 60px;
}
.post h2, .post h4 {
    color: #337ab7;
}
.post {
    padding: 20px;
}
.post p {
    text-align: justify;
    font-size: 24px;
}
.coments p{
    font-size: 20px;
    padding-left: 60px;
}
#star {
    text-align: center;
}
